<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/perfil">Área do Usuário</a></li>
        <li class="breadcrumb-item active">Alterar Perfil</li>
	</ol>
</nav>

<h3>Alterar Perfil</h3>
<hr>
<form action="/perfil/edit" method="POST">
    <input type="hidden" value="{{user._id}}" name="id"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Nome:</label>            
            {{#if formErrors.fieldNameError}}
                <input type="text" class="form-control is-invalid" name="name" value="{{user.name}}">
                <div class="invalid-feedback">
                   {{formErrors.fieldNameError}}
                </div>               
            {{else}} 
                <input type="text" class="form-control" name="name" value="{{user.name}}"/>
            {{/if}}
        </div>

        <div class="col-md-6 mb-3">
            <label>Sobrenome:</label>
            {{#if formErrors.fieldSurnameError}}
                <input type="text" class="form-control is-invalid" name="surname" value="{{user.surname}}">
                <div class="invalid-feedback">
                   {{formErrors.fieldSurnameError}}
                </div>               
            {{else}}                
                <input type="text" class="form-control" name="surname" value="{{user.surname}}"/>
            {{/if}}            
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Usuário:</label>            
            {{#if formErrors.fieldUsernameError}}
                <input type="text" class="form-control is-invalid" name="user_name" value="{{user.user_name}}"/>
                <div class="invalid-feedback">
                   {{formErrors.fieldUsernameError}}
                </div>               
            {{else}}                
                <input type="text" class="form-control" name="user_name" value="{{user.user_name}}"/>
            {{/if}}
        </div>

        <div class="col-md-6 mb-3">
            <label>Email:</label>
            {{#if formErrors.fieldEmailError}}
                <input type="email" class="form-control is-invalid" name="email" value="{{user.email}}">
                <div class="invalid-feedback">
                   {{formErrors.fieldEmailError}}
                </div>               
            {{else}}             
                <input type="email" class="form-control" name="email" value="{{user.email}}"/>
            {{/if}}
        </div>
    </div>

    <div class="form-row">
        <button class="btn btn-success" type="submit">Alterar</button>
    </div>
</form>