<div class="container">
    <div class="bg-greencrayola jumbotron jumbotron-fluid">
        <div class="container-lg">
            <h1 class="display-4 text-center">Postagens</h1>
            <hr>
            <h5 class="text-center">Área administativa</h5>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb">           
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Lista de Postagens</li>
        </ol>
    </nav>

    <a href="/admin/postagens/add" class="btn bg-seagreen text-white mb-4" >Nova Postagem</a>

    {{#each posts}}
        <div class="row mb-5">
            <div class="col-md-4">
                <a href="/admin/postagens/edit/{{this._id}}">
                    <img src="/img/posts/{{this.img}}" class="card-img" alt="...">
                </a>
            </div>
            <div class="col-md-8 text-break">
                <h5 class="card-title">
                    <a href="/admin/postagens/edit/{{this._id}}" class="text-decoration-none text-seagreen">
                        <h5>{{this.title}}</h5>
                    </a>
                </h5>
                <p class="card-text">{{this.description}}</p>

                <p class="card-text">Criado por {{this.user.user_name}}, em {{#formatDate this.date}}{{/formatDate}}</p>
                <span class="badge rounded-pill bg-greencrayola">{{this.category.name}}</span>

                <br>
                <button onclick="deletarPostagem('{{this._id}}')" class="btn btn-danger mt-3">
                    Excluir
                </button>

                <form id="form-delete" action="/admin/postagens/deletar" method="POST">
                    <input type="hidden" name="id" id="delete-id"/>
                </form>
            </div>
        </div>
    {{else}}
        <h3 class="text-center mt-5">Não existem postagens para gerenciar</h3>
    {{/each}}
</div>

<script>
    function deletarPostagem(id) {
        swal({
            title: "Você tem certeza ?",
            text: "Deseja deletar esta postagem?",
            icon: "warning",
            buttons: ["Não", "Sim"],
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $("#delete-id").val(id);
                $("#form-delete").submit();
            }
        });
    }
</script>