<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/admin">Área Administrativa</a></li>
        <li class="breadcrumb-item active">Lista de Postagens</li>
	</ol>
</nav>

<h2 class="text-center">Lista de Postagens</h2>
<hr/>

{{#if posts}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo de Usuario</th>
                <th scope="col">Categoria</th>
                <th scope="col">Status</th>
                <th scope="col">Alterar Status</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{user.user_name}}</td>
            
                {{#if eAdmin}}
                    <td>Administrador</td>
                {{else}}
                    <td>Comum</td>
                {{/if}}

                <td>{{category.name}}</td>
                <td>{{status}}</td>

                <td>
                    <a href="/admin/postagens/{{slug}}">mudar</a>
                </td>

                <form action="/admin/postagens/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}"/>
                    <td>
                        <button type="submit" class="btn btn-danger btn-lg">X</button>
                    </td>
                </form>
            </tr>       
            {{/each}}
        </tbody>
    </table>

{{else}}
    <h3 class="text-center mt-5">Não existem postagens para gerenciar</h3>
{{/if}}