{{#each formErrors}}
    <div class="alert alert-danger">{{error}}</div>
{{/each}}

<h3>Nova Postagem: </h3>
<form action="/perfil/minhas-postagens/nova" method="POST">
    <input type="hidden" name="user_id" value="{{user._id}}"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Título:</label>
            <input type="text" class="form-control" name="title"/>
        </div>

        <div class="col-md-6 mb-3">
            <label>Descrição:</label>
            <input type="text" class="form-control" name="description"/>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Slug:</label>
            <input type="text" class="form-control" name="slug"/>
        </div>
        <div class="col-md-6 mb-3">
            <label>Categoria:</label>
            <select name="category" class="custom-select">
                {{#if categories}}
                    <option value=""></option>
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                {{else}}
                    <option value="">Nenhuma categoria registrada</option>
                {{/if}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="conteudo">Conteúdo:</label>
            <textarea type="text" class="form-control" name="content"></textarea>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary" type="submit">Criar Postagem</button>
    </div>
</form>