<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/perfil">Área do Usuário</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/perfil/minhas-postagens">Minhas Postagens</a></li>
        <li class="breadcrumb-item active">Nova Postagem</li>
	</ol>
</nav>

<h3>Nova Postagem: </h3>
<form action="/perfil/minhas-postagens/nova" method="POST">
    <input type="hidden" name="user_id" value="{{user._id}}"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Título:</label>
            {{#if formErrors.fieldTitleError}} 
                <input type="text" class="form-control is-invalid" name="title"/>
                <div class="invalid-feedback">
                    {{formErrors.fieldTitleError}}
                </div>               
            {{else}}
                <input type="text" class="form-control" name="title"/>
            {{/if}}
        </div>

        <div class="col-md-6 mb-3">
            <label>Descrição:</label>
            {{#if formErrors.fieldDescriptionError}} 
                <input type="text" class="form-control is-invalid" name="description"/>
                <div class="invalid-feedback">
                    {{formErrors.fieldDescriptionError}}
                </div>               
            {{else}}
                <input type="text" class="form-control" name="description"/>
            {{/if}}
        </div>
    </div>
    <div class="form-row">        
        <div class="col-md-6 mb-3">
            <label for="conteudo">Conteúdo:</label>
            {{#if formErrors.fieldContentError}} 
                <textarea type="text" class="form-control is-invalid" name="content" rows="10"></textarea>
                <div class="invalid-feedback">
                    {{formErrors.fieldContentError}}
                </div>               
            {{else}}
                <textarea type="text" class="form-control" name="content" rows="10"></textarea>
            {{/if}}
        </div>

        <div class="col-md-6 mb-3">
            <label>Categoria:</label>
                {{#if formErrors.fieldCategoryError}} 
                    <select name="category" class="custom-select is-invalid">
                        {{#if categories}}
                            <option value=""></option>
                            {{#each categories}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="">Nenhuma categoria registrada</option>
                        {{/if}}
                    </select>
                    <div class="invalid-feedback">                        
                        {{formErrors.fieldCategoryError}}
                    </div>               
                {{else}}
                    <select name="category" class="custom-select">
                        {{#if categories}}
                            <option value=""></option>
                            {{#each categories}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="">Nenhuma categoria registrada</option>
                        {{/if}}
                    </select>
                {{/if}}
           
            <div class="text-center">                
                <button class="btn btn-primary mt-3 mb-5" type="submit">Criar Postagem</button>
            </div>
        </div>
    </div>
   
</form>