<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">           
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Postagens</li>              
            </ol>
        </nav>

        <h1>Postagens</h1>

        {{#each posts}}
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title">{{title}}</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>{{description}}</p>
                        <a href="/postagem/{{slug}}">
                            <button class="btn btn-success">
                                Leia mais
                            </button>
                        </a>
                        <br><br>
                        <small>Data: {{#formatDate date}}{{/formatDate}}</small><br>
                        <small>Categoria: {{category.name}}</small>
                    </div>
                </div>
            </div>
        {{else}}
            <hr class="mt-5"/>
            <h2 class="text-center">Não existem postagens no momento!</h2>
        {{/each}}
    </div>        
    <div class="col-md-4">
        {{>_side}}
    </div>
</div>