<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/perfil">Área do Usuário</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/perfil/minhas-postagens">Minhas Postagens</a></li>
        <li class="breadcrumb-item active">Editar Postagem</li>
	</ol>
</nav>

<h3>Editar Postagem: </h3>
<form action="/perfil/minhas-postagens/edit" method="POST">
    <input type="hidden" value="{{post._id}}" name="post_id"/>
    <input type="hidden" value="{{user._id}}" name="user_id"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" name="title" value="{{post.title}}"/>
        </div>

        <div class="col-md-6 mb-3">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" name="description" value="{{post.description}}"/>
        </div>
    </div>
    <div class="form-row">        
        <div class="col-md-6 mb-3">
            <label for="conteudo">Conteúdo:</label>
             <textarea type="text" class="form-control" name="content" rows="10">{{post.content}}</textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label>Categoria:</label>
            <select name="category" class="custom-select">
               <option value="{{post.category._id}}" selected>{{post.category.name}}</option>
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <div class="text-center">                
                <button class="btn btn-primary mt-3 mb-5" type="submit">Criar Postagem</button>
            </div>
        </div>
    </div>
   
</form>