{{#each formErrors}}
    <div class="alert alert-danger">{{error}}</div>
{{/each}}

<h3>Editar Postagem: </h3>
<form action="/perfil/minhas-postagens/edit" method="POST">
    <input type="hidden" value="{{post._id}}" name="post_id"/>
     <input type="hidden" value="{{user._id}}" name="user_id"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" name="title" value="{{post.title}}"/>
        </div>

        <div class="col-md-6 mb-3">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" name="description" value="{{post.description}}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" name="slug"  value="{{post.slug}}"/>
        </div>
        <div class="col-md-6 mb-3">
            <label>Categoria:</label>
            <select name="category" class="custom-select">
               <option value="{{post.category._id}}" selected>{{post.category.name}}</option>
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="conteudo">Conteúdo:</label>
            <textarea type="text" class="form-control" name="content">{{post.content}}</textarea>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary" type="submit">Editar Postagem</button>
    </div>
</form>