<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/perfil">Área do Usuário</a></li>
        <li class="breadcrumb-item active">Minhas Postagens</li>
	</ol>
</nav>

<h2>Minhas Postagens</h2>
<hr/>
<a href="/perfil/minhas-postagens/add" class="btn btn-success mb-2">Nova Postagem</a>

{{#each posts}}
<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>Descrição: {{description}}</p>
            <p>Data: {{#formatDate date}}{{/formatDate}}</p>
            <p>Slug: {{slug}}</p>
            <p>Categoria: {{category.name}}</p>
            <p>Usuario: {{user.user_name}}</p>
            <p>Status: {{status}}</p>
            <div class="row mt-2">
               <a href="/perfil/minhas-postagens/edit/{{_id}}" class="mr-4 ml-3">
                    <button class="btn btn-warning">
                        Editar
                    </button>
                </a>
                <form action="/perfil/minhas-postagens/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}"/>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
    <hr class="mt-5"/>
    <h2 class="text-center">Não existem postagens, crie uma!</h2>
{{/each}}