<div class="jumbotron">
  <h1 class="display-4 ">Bem-vindo ao Blog do Node</h1>
  <p class="lead">Este é um Blog simples, desenvolvido com Node.js + Espress + MongoDB sob as orientações de Victor Lima, em seu Curso de NodeJs</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da computação!</p>
  <a class="btn btn-success btn-lg" href="/usuario/registro" role="button">Crie uma conta!</a>
</div>


{{#each postagens}}
<div class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">{{titulo}}</h3>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}">
                <button class="btn btn-success">
                    Leia mais
                </button>
            </a>
            <br><br>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
        </div>
    </div>
</div>
{{else}}
    <hr class="mt-5"/>
    <h2 class="text-center">Não existem postagens no momento!</h2>
{{/each}}