<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta!</a>
</div>

<h2>Página de posts</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">{{titulo}}</h3>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>Descrição: {{descricao}}</p>
            <a href="/postagem/{{slug}}">
                <button class="btn btn-success">
                    Leia mais
                </button>
            </a>
            <br><br>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
            
        </div>
        
    </div>
</div>
{{else}}
    <hr class="mt-5"/>
    <h2 class="text-center">Não existem postagens, crie uma!</h2>
{{/each}}