<h2 class="text-center">Lista de Usuarios</h2>
<hr/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo de Usuario</th>
      <th scope="col">Bloquear</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
      <tr>
        <td>{{nome}} {{sobrenome}}</td>
        <td>{{nome_usuario}}</td>
        <td>{{email}}</td>
        {{#if this.eDono}}
            <td>Proprietario</td>
            <td></td>
        {{else}}
          <form action="/admin/usuarios/edit_admin" method="POST">
            <input type="hidden" name="id" value="{{_id}}"/>
            {{#if eAdmin}}
              <input type="hidden" name="eAdmin" value="false"/>
              <td>
                <button type="submit" class="btn">Administrador</button>
              </td>
            {{else}}
              <input type="hidden" name="eAdmin" value="true"/>
              <td>
                <button type="submit" class="btn">Comum</button>
              </td>
            {{/if}}
          </form>
          
          <form action="/admin/usuarios/bloqueia-usuario" method="POST">
            <input type="hidden" name="id" value="{{_id}}"/>
            {{#if eBloq}}
              <input type="hidden" name="eBloq" value="false"/>
              <td>
                <button type="submit" class="btn">Bloqueado</button>
              </td>
            {{else}}
              <input type="hidden" name="eBloq" value="true"/>
              <td>
                <button type="submit" class="btn">Ok</button>
              </td>
            {{/if}}
          </form>

          <form action="/admin/usuarios/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}"/>
            <td>
              <button type="submit" class="btn btn-danger btn-lg">X</button>
            </td>
          </form>
        {{/if}}
      </tr>       
    {{/each}}
  </tbody>
</table>

{{#unless usuarios}}
    <hr class="mt-5"/>
    <h2 class="text-center">Não existem usuários para gerenciar</h2>
{{/unless}}