<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">           
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/categoria">Categorias</a></li>
                <li class="breadcrumb-item active">{{category.name}}</li>
            </ol>
        </nav>
        <h1>{{category.name}}</h1>
        <hr>
        {{#each posts}}
            <div class="card mb-5">
                <div class="card-header">
                    <h3 class="card-title">{{title}}</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>{{description}}</p>
                        <a href="/postagem/{{slug}}">
                            <button class="btn btn-success">
                                Leia mais
                            </button>
                        </a>
                        <br><br>
                        <small>Data: {{#formatDate date}}{{/formatDate}}</small><br>            
                    </div>
                    
                </div>
            </div>
        {{else}}
            <h2 class="text-center">Não existem postagens nessa categoria!</h2>
        {{/each}}
    </div>        
    <div class="col-md-4">
        {{>_side}}
    </div>
</div>
