<h1>{{category.name}}</h1>
<hr>
{{#each posts}}
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>{{description}}</p>
                <a href="/postagem/{{slug}}">
                    <button class="btn btn-success">
                        Leia mais
                    </button>
                </a>
                <br><br>
                <small>Data: {{#formatDate date}}{{/formatDate}}</small><br>            
            </div>
            
        </div>
    </div>
{{else}}
    <h2 class="text-center">Não existem postagens nessa categoria!</h2>
{{/each}}